PPS_NET45/Common/LibHelper/Web References/UpsHawb/getUPS_HAWB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://EDI-UMISMWSStag.luxshare.com.cn/ICT_WS.oa:getUPS_HAWB" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="getUPS_HAWB" targetNamespace="http://EDI-UMISMWSStag.luxshare.com.cn/ICT_WS.oa:getUPS_HAWB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://EDI-UMISMWSStag.luxshare.com.cn/ICT_WS.oa:getUPS_HAWB">
      <xsd:element name="getUPS_HAWB" type="tns:getUPS_HAWB" />
      <xsd:element name="getUPS_HAWBResponse" type="tns:getUPS_HAWBResponse" />
      <xsd:complexType name="getUPS_HAWB">
        <xsd:sequence>
          <xsd:element name="carrierCode" nillable="true" type="xsd:string" />
          <xsd:element name="parcelAccount" nillable="true" type="xsd:string" />
          <xsd:element name="serviceLevel" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getUPS_HAWBResponse">
        <xsd:sequence>
          <xsd:element name="hawb_tran" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUPS_HAWB_PortType_getUPS_HAWBResponse">
    <wsdl:part name="parameters" element="tns:getUPS_HAWBResponse" />
  </wsdl:message>
  <wsdl:message name="getUPS_HAWB_PortType_getUPS_HAWB">
    <wsdl:part name="parameters" element="tns:getUPS_HAWB" />
  </wsdl:message>
  <wsdl:portType name="getUPS_HAWB_PortType">
    <wsdl:operation name="getUPS_HAWB">
      <wsdl:input message="tns:getUPS_HAWB_PortType_getUPS_HAWB" />
      <wsdl:output message="tns:getUPS_HAWB_PortType_getUPS_HAWBResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICT_WS_oa_getUPS_HAWB_Binder" type="tns:getUPS_HAWB_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUPS_HAWB">
      <soap:operation soapAction="ICT_WS_oa_getUPS_HAWB_Binder_getUPS_HAWB" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICT_WS.oa.getUPS_HAWB">
    <wsdl:port name="ICT_WS_oa_getUPS_HAWB_Port" binding="tns:ICT_WS_oa_getUPS_HAWB_Binder">
      <soap:address location="http://10.12.40.249:5556/ws/ICT_WS.oa:getUPS_HAWB/ICT_WS_oa_getUPS_HAWB_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>