SajetMES_1.0.0.59/Web References/com.luxshare-ict.dcs/LdapAd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LdapAd" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Luxshare.DCS.WebApp.WCF" />
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Luxshare.DCS.Common" />
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Luxshare.DCS.WebApp.Models" />
      <xsd:import schemaLocation="http://dcs.luxshare-ict.com/WCF/LdapAd.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Luxshare.DCS.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILdapAd_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILdapAd_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILdapAd_CheckUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLogin" />
  </wsdl:message>
  <wsdl:message name="ILdapAd_CheckUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ILdapAd">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILdapAd/Add" message="tns:ILdapAd_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILdapAd/AddResponse" message="tns:ILdapAd_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILdapAd/CheckUserLogin" message="tns:ILdapAd_CheckUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILdapAd/CheckUserLoginResponse" message="tns:ILdapAd_CheckUserLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILdapAd" type="tns:ILdapAd">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILdapAd/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <soap:operation soapAction="http://tempuri.org/ILdapAd/CheckUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LdapAd">
    <wsdl:port name="BasicHttpBinding_ILdapAd" binding="tns:BasicHttpBinding_ILdapAd">
      <soap:address location="http://dcs.luxshare-ict.com/WCF/LdapAd.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>